body { background: #b8d210; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 43px; display: flex; }
.block-helper-0 { color: #71dea6; font-size: 20px; margin-bottom: 5px; }
.block-metrics-1 { color: #db9930; font-size: 14px; margin-bottom: 5px; }
.block-user-2 { color: #c53c3b; font-size: 16px; margin-bottom: 5px; }
.block-cart-3 { color: #2e3cee; font-size: 18px; margin-bottom: 5px; }
.block-token-4 { color: #f984ed; font-size: 14px; margin-bottom: 5px; }